In [16]:
import pandas as pd

train = pd.read_csv('../../../data/targets/train.csv', sep=';')

test = pd.read_csv('../../../data/targets/test.csv', sep=';')

valid = pd.read_csv('../../../data/targets/valid.csv', sep=';')

In [17]:
train.head()

            file  valid          p1           p2  dist
0  frame1678.png      0          -1           -1  -1.0
1  frame1506.png      1  (179, 107)    (197, 96)  21.1
2  frame7220.png      1  (233, 132)   (249, 113)  49.2
3  frame7398.png      1  (174, 150)   (175, 129)  42.0
4  frame1238.png      0          -1           -1  -1.0

In [18]:
test.head()

            file  valid         p1         p2  dist
0  frame1597.png      0         -1         -1  -1.0
1  frame1359.png      1  (162, 63)  (160, 65)   2.8
2  frame3682.png      0         -1         -1  -1.0
3  frame1314.png      1  (153, 91)  (144, 97)  10.8
4  frame1685.png      0         -1         -1  -1.0

In [19]:
valid.head()

            file  valid          p1           p2  dist
0  frame1615.png      1  (188, 100)    (201, 80)  23.9
1  frame7212.png      0          -1           -1  -1.0
2  frame3764.png      1  (173, 138)   (174, 163)  50.0
3  frame3686.png      0          -1           -1  -1.0
4  frame3549.png      1   (226, 99)   (242, 118)  47.8

In [20]:
train[train.valid == 1]['valid'].count()

419

In [21]:
train[train.valid == 0]['valid'].count()

289

In [22]:
test[test.valid == 1]['valid'].count()

274

In [23]:
test[test.valid == 0]['valid'].count()

199

In [24]:
valid[valid.valid == 1]['valid'].count()

159

In [25]:
valid[valid.valid == 0]['valid'].count()

78